* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    color: black;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.entete3 {
    background: url(/img/fond-movies1.jpg);
    background-size: cover;
    width: 100%;
    background-position: bottom;
    height: 420px;
}